.privacy {
  color:white;
  padding: 50px;
}

.menuItem {
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  margin: none;
}

.jumbo_pic {
  text-align: center;
  background-color: black;
  color: white;
  margin: none;
}

.about {
  background-color: white;
  color: black;
  size: 70%;
}

.skills {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  margin-top: 40px;
}

.thumbs {
  height: 50px;
}

.thumbs_large {
  height: 90px;
}

.centered {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0%;
}

.spacer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects {
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project_snaps {
  width: 300px;
  text-align: center;
  padding-left: 100px;
}

.contact {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project_title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

.img-main {
  max-width: 100%;
  height: auto;
}

