body {
  height: 100px;
  font-size: 30px;
  background-color: red;
}

.part1 {
  height: 200px;
  width: 100%;
  background-color: aqua;
  font-size: 10px;
}

.part2 {
  height: 200px;
  width: 100%;
  background-color: beige;
}

.part3 {
  height: 200px;
  width: 100%;
  background-color: blueviolet;
}