body {
  background-color: black;
}

.dropdown-menu {
  background-color: red;
}

.dropdown-item {
  color: white;
}

.nav_img {
  height: 15%;
  width: 15%;
  padding: 20px;
}

.nav-item {
  padding-right: 20px;
}

.order_button {
    height: 45px;
    background-color: red;
    color: white;
    border: none;
}

.location_text {
  color: white;
  position: absolute;
  z-index: 20;
  left: 10%;
  width: 80%;
  top: 12%;
  text-align: center;
}

.location_food_type {
  color: white;
  position: absolute;
  z-index: 20;
  left: 10%;
  width: 80%;
  top: 18%;
  text-align: center;
}

.location_button_row {
  position: absolute;
  z-index: 20;
  left: 10%;
  width: 80%;
  top: 28%;
  text-align: center;
}

.location_button {
  background-color: red;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px;
}

.carousel-item {
  height: 600px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
}

.food_thumbnails {
  width: 100%;
}

.col {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.footer {
  padding-left: 35%;
  padding-right: 35%;
}

.footer-item {
  font-size: 12px;
  color: white;
}
